{% extends 'base.html' %}

{% block content %}

{% comment %} Navbar {% endcomment %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{nama}}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-top-buttons" aria-controls="navbar-top-buttons" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-top-buttons">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'wishlist:logout_user' %}">Logout</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h5>Nama: </h5>
    <p>{{nama}}</p> {% comment %} Nama diambil dari context pada view {% endcomment %}

    <table id="table-wishlist" class="table table-striped table-hover table-bordered mx-auto">
        <thead>
            <tr>
                <th scope="col">Nama Barang</th>
                <th scope="col">Harga Barang</th>
                <th scope="col">Deskripsi</th>
            </tr>
        </thead>
        {% comment %} Data akan ditambahkan ke tbody dengan AJAX JQuery {% endcomment %}
        <tbody class="table-group-divider"></tbody>
    </table>
    <p><b>Sesi terakhir login: {{ last_login }}</b></p>
    <button type="button" class="btn btn-danger"><a href="{% url 'wishlist:logout_user' %}" style="text-decoration: none">Logout</a></button>
</div>
<script type="text/javascript">
    $.getJSON("{% url 'wishlist:data_json_wishlist' %}", function(data) {
            $(data).each(function(i, entry) {
                $("#table-wishlist > tbody").append($("<tr>")
                    .append($("<td>").append(entry.fields.nama_barang))
                    .append($("<td>").append(entry.fields.harga_barang))
                    .append($("<td>").append(entry.fields.deskripsi)));
            })
            })

    .done(function(){
        console.log("data loaded!");
    })

    .fail(function(e){
        console.log('error:');
        console.error(e);
    });

</script>
{% endblock content %}